.circlesBox{
    display: flex;
    gap: 2rem;
}

.circleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .score{
        position: absolute;
        font-size: 2rem;
        font-weight: bold;
    }
}

.circle{
    width: 100px;
}
