@import '@radix-ui/colors/iris.css';

header{
    padding: 1rem;
    margin-bottom: 2rem;
}

span{
    color: var(--iris-10);
}

.link{
    text-decoration: none;
    font-weight: 500;
    color: var(--iris-12);
}

.headBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home{
    height: 100%;
    margin-top: 10rem;
    .title{
        font-size: 8rem;
    }
}

.heightFix{
    height: 100%;
}

.txt{
    color: var(--iris-12);
}

.quote{
    margin-top: auto;
}

.navBtn{
    margin-left: auto;
}

.icon{
    transform: scale(1.2);
}

.icon:hover{
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    .foot{
        color: var(--iris-12);
        font-weight: bold;
    }
}

.colorCard{
    overflow: visible;
}

.popover{
    z-index: 1000;
}

.resetPopover{
    background-color: transparent;
    border: none;
    padding: 0;
}

.pushRight{
    margin-left: auto;
}

.txtTest{
    max-width: 800px;
}

.suggestionsCard{
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0;
    max-width: 300px;
    max-height: 82vh;
    z-index: 3;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.over{
    overflow: scroll;
    height: 40vh;
}

.over::-webkit-scrollbar{
    display: none;
}

.over:hover{
    cursor: pointer;
}

.sColor{
    width: 100px;
    height: 60px;
}

.suggestions{
    position: absolute;;
}

.close{
    align-self: end;
}

.sCard{
    background-color: black;
}