@import '@radix-ui/colors/iris.css';

header{
    padding: 1rem;
    margin-bottom: 2rem;
}



span{
    color: var(--iris-10);
}

.link{
    text-decoration: none;
    font-weight: 500;
    color: var(--iris-12);
}

.headBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home{
    height: 100%;
    margin-top: 10rem;
    .title{
        font-size: 8rem;
    }
}

.heightFix{
    height: 100%;
}

.txt{
    color: var(--iris-12);
}

.quote{
    margin-top: auto;
}

.navBtn{
    margin-left: auto;
}
